In [ ]:
##############assignment 9 AR ########

In [ ]:
##############books###################

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
dataset= pd.read_csv("book.csv",sep=',')

In [ ]:
dataset

In [ ]:
dataset.shape

In [ ]:
dataset.info()

In [ ]:
dataset.isnull().sum()

In [ ]:
dataset.describe()

In [ ]:
dataset
transaction=[]
for i in  range(0,2000):
    transaction.append([str(dataset.values[i,u])for u in range(1,10)])

In [ ]:
from mlxtend.frequent_patterns import apriori,association_rules

In [ ]:
frequent_books = apriori(dataset, min_support=0.05, max_len=3,use_colnames = True)
frequent_books

In [ ]:
frequent_books.sort_values('support',ascending = False,inplace=True)
frequent_books.sort_values

In [ ]:
rules = association_rules(frequent_books, metric="lift", min_threshold=1)

In [ ]:
rules

In [ ]:
rules.sort_values('lift',ascending=False,inplace=True)

In [ ]:
rules

In [ ]:
#############movies##############

In [1]:
import pandas as pd 
import numpy as np

In [5]:
movies = pd.read_csv("my_movies.csv",sep=',')

In [6]:
movies

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
5,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
6,Harry Potter1,Harry Potter2,NaN,NaN,NaN,0,0,0,1,0,0,1,0,0,0
7,Gladiator,Patriot,NaN,NaN,NaN,0,1,0,0,1,0,0,0,0,0
8,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
9,Sixth Sense,LOTR,Gladiator,Green Mile,NaN,1,1,0,0,0,0,0,1,0,1

In [7]:
movies.isnull().sum()

V1               0
V2               0
V3               3
V4               8
V5               9
Sixth Sense      0
Gladiator        0
LOTR1            0
Harry Potter1    0
Patriot          0
LOTR2            0
Harry Potter2    0
LOTR             0
Braveheart       0
Green Mile       0
dtype: int64

In [8]:
movies = movies.replace(np.nan, '', regex=True)
movies

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,,,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,,,,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,,,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,,,1,1,0,0,1,0,0,0,0,0
5,Gladiator,Patriot,Sixth Sense,,,1,1,0,0,1,0,0,0,0,0
6,Harry Potter1,Harry Potter2,,,,0,0,0,1,0,0,1,0,0,0
7,Gladiator,Patriot,,,,0,1,0,0,1,0,0,0,0,0
8,Gladiator,Patriot,Sixth Sense,,,1,1,0,0,1,0,0,0,0,0
9,Sixth Sense,LOTR,Gladiator,Green Mile,,1,1,0,0,0,0,0,1,0,1

In [9]:
movies
transactions = []
for i in range(0, 10):
    transactions.append([str(movies.values[i,u]) for u in range(1,5)])

In [37]:
movies_series  = pd.DataFrame(pd.Series(transactions))
movies_series
movies_series.columns = ["business"]
movies_series

                                    business
0  [LOTR1, Harry Potter1, Green Mile, LOTR2]
1                  [Patriot, Braveheart, , ]
2                              [LOTR2, , , ]
3                 [Patriot, Sixth Sense, , ]
4                 [Patriot, Sixth Sense, , ]
5                 [Patriot, Sixth Sense, , ]
6                      [Harry Potter2, , , ]
7                            [Patriot, , , ]
8                 [Patriot, Sixth Sense, , ]
9            [LOTR, Gladiator, Green Mile, ]

In [38]:
X = movies_series['business'].str.join(sep=',').str.get_dummies(sep=',')
X

,Braveheart,Gladiator,Green Mile,Harry Potter1,Harry Potter2,LOTR,LOTR1,LOTR2,Patriot,Sixth Sense
0,0,0,1,1,0,0,1,1,0,0
1,1,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,1,1
4,0,0,0,0,0,0,0,0,1,1
5,0,0,0,0,0,0,0,0,1,1
6,0,0,0,0,1,0,0,0,0,0
7,0,0,0,0,0,0,0,0,1,0
8,0,0,0,0,0,0,0,0,1,1
9,0,1,1,0,0,1,0,0,0,0

In [47]:
from mlxtend.frequent_patterns import apriori,association_rules
frequent_movies = apriori(X, min_support=0.1, max_len=4,use_colnames = True)
frequent_movies

    support                                   itemsets
0       0.1                               (Braveheart)
1       0.1                                (Gladiator)
2       0.2                               (Green Mile)
3       0.1                            (Harry Potter1)
4       0.1                            (Harry Potter2)
5       0.1                                     (LOTR)
6       0.1                                    (LOTR1)
7       0.2                                    (LOTR2)
8       0.6                                  (Patriot)
9       0.4                              (Sixth Sense)
10      0.1                      (Patriot, Braveheart)
11      0.1                    (Gladiator, Green Mile)
12      0.1                          (Gladiator, LOTR)
13      0.1                (Green Mile, Harry Potter1)
14      0.1                         (Green Mile, LOTR)
15      0.1                        (Green Mile, LOTR1)
16      0.1                        (LOTR2, Green Mile)
17      0.1                     (Harry Potter1, LOTR1)
18      0.1                     (LOTR2, Harry Potter1)
19      0.1                             (LOTR2, LOTR1)
20      0.4                     (Patriot, Sixth Sense)
21      0.1              (Gladiator, Green Mile, LOTR)
22      0.1         (Green Mile, Harry Potter1, LOTR1)
23      0.1         (LOTR2, Green Mile, Harry Potter1)
24      0.1                 (LOTR2, Green Mile, LOTR1)
25      0.1              (LOTR2, Harry Potter1, LOTR1)
26      0.1  (LOTR2, Green Mile, Harry Potter1, LOTR1)

In [48]:
frequent_movies.sort_values('support',ascending = False,inplace=True)
frequent_movies.sort_values

<bound method DataFrame.sort_values of     support                                   itemsets
8       0.6                                  (Patriot)
9       0.4                              (Sixth Sense)
20      0.4                     (Patriot, Sixth Sense)
2       0.2                               (Green Mile)
7       0.2                                    (LOTR2)
0       0.1                               (Braveheart)
16      0.1                        (LOTR2, Green Mile)
25      0.1              (LOTR2, Harry Potter1, LOTR1)
24      0.1                 (LOTR2, Green Mile, LOTR1)
23      0.1         (LOTR2, Green Mile, Harry Potter1)
22      0.1         (Green Mile, Harry Potter1, LOTR1)
21      0.1              (Gladiator, Green Mile, LOTR)
19      0.1                             (LOTR2, LOTR1)
18      0.1                     (LOTR2, Harry Potter1)
17      0.1                     (Harry Potter1, LOTR1)
13      0.1                (Green Mile, Harry Potter1)
15      0.1                        (Green Mile, LOTR1)
14      0.1                         (Green Mile, LOTR)
1       0.1                                (Gladiator)
12      0.1                          (Gladiator, LOTR)
11      0.1                    (Gladiator, Green Mile)
10      0.1                      (Patriot, Braveheart)
6       0.1                                    (LOTR1)
5       0.1                                     (LOTR)
4       0.1                            (Harry Potter2)
3       0.1                            (Harry Potter1)
26      0.1  (LOTR2, Green Mile, Harry Potter1, LOTR1)>

In [52]:
rules = association_rules(frequent_movies, metric="lift", min_threshold=1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Patriot),(Sixth Sense),0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
1,(Sixth Sense),(Patriot),0.4,0.6,0.4,1.000000,1.666667,0.16,inf
2,(LOTR2),(Green Mile),0.2,0.2,0.1,0.500000,2.500000,0.06,1.6
3,(Green Mile),(LOTR2),0.2,0.2,0.1,0.500000,2.500000,0.06,1.6
4,"(LOTR2, Harry Potter1)",(LOTR1),0.1,0.1,0.1,1.000000,10.000000,0.09,inf
...,...,...,...,...,...,...,...,...,...
61,"(Harry Potter1, LOTR1)","(LOTR2, Green Mile)",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
62,(LOTR2),"(Green Mile, Harry Potter1, LOTR1)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.8
63,(Green Mile),"(LOTR2, Harry Potter1, LOTR1)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.8
64,(Harry Potter1),"(LOTR2, Green Mile, LOTR1)",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
65,(LOTR1),"(LOTR2, Green Mile, Harry Potter1)",0.1,0.1,0.1,1.000000,10.000000,0.09,inf

In [53]:
rules.sort_values('lift',ascending = False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
33,(LOTR),"(Gladiator, Green Mile)",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
47,(LOTR),(Gladiator),0.1,0.1,0.1,1.000000,10.000000,0.09,inf
26,(Harry Potter1),"(Green Mile, LOTR1)",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
27,(LOTR1),"(Green Mile, Harry Potter1)",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
28,"(Gladiator, Green Mile)",(LOTR),0.1,0.1,0.1,1.000000,10.000000,0.09,inf
...,...,...,...,...,...,...,...,...,...
3,(Green Mile),(LOTR2),0.2,0.2,0.1,0.500000,2.500000,0.06,1.60
1,(Sixth Sense),(Patriot),0.4,0.6,0.4,1.000000,1.666667,0.16,inf
51,(Braveheart),(Patriot),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
50,(Patriot),(Braveheart),0.6,0.1,0.1,0.166667,1.666667,0.04,1.08
0,(Patriot),(Sixth Sense),0.6,0.4,0.4,0.666667,1.666667,0.16,1.80

In [54]:
#######################groceries#########

In [55]:
import pandas as pd 
import numpy as np

In [56]:
groceries = pd.read_csv("groceries - groceries.csv")

In [57]:
groceries

,Item(s),Item 1,Item 2,Item 3,Item 4,Item 5,Item 6,Item 7,Item 8,Item 9,...,Item 23,Item 24,Item 25,Item 26,Item 27,Item 28,Item 29,Item 30,Item 31,Item 32
0,4,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9830,17,sausage,chicken,beef,hamburger meat,citrus fruit,grapes,root vegetables,whole milk,butter,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9831,1,cooking chocolate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9832,10,chicken,citrus fruit,other vegetables,butter,yogurt,frozen dessert,domestic eggs,rolls/buns,rum,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9833,4,semi-finished bread,bottled water,soda,bottled beer,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9834,5,chicken,tropical fruit,other vegetables,vinegar,shopping bags,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
groceries = groceries.drop(['Item(s)'], axis=1)

In [59]:
groceries

,Item 1,Item 2,Item 3,Item 4,Item 5,Item 6,Item 7,Item 8,Item 9,Item 10,...,Item 23,Item 24,Item 25,Item 26,Item 27,Item 28,Item 29,Item 30,Item 31,Item 32
0,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9830,sausage,chicken,beef,hamburger meat,citrus fruit,grapes,root vegetables,whole milk,butter,whipped/sour cream,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9831,cooking chocolate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9832,chicken,citrus fruit,other vegetables,butter,yogurt,frozen dessert,domestic eggs,rolls/buns,rum,cling film/bags,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9833,semi-finished bread,bottled water,soda,bottled beer,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9834,chicken,tropical fruit,other vegetables,vinegar,shopping bags,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
groceries = groceries.replace(np.nan, '', regex=True)
groceries

,Item 1,Item 2,Item 3,Item 4,Item 5,Item 6,Item 7,Item 8,Item 9,Item 10,...,Item 23,Item 24,Item 25,Item 26,Item 27,Item 28,Item 29,Item 30,Item 31,Item 32
0,citrus fruit,semi-finished bread,margarine,ready soups,,,,,,,...,,,,,,,,,,
1,tropical fruit,yogurt,coffee,,,,,,,,...,,,,,,,,,,
2,whole milk,,,,,,,,,,...,,,,,,,,,,
3,pip fruit,yogurt,cream cheese,meat spreads,,,,,,,...,,,,,,,,,,
4,other vegetables,whole milk,condensed milk,long life bakery product,,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9830,sausage,chicken,beef,hamburger meat,citrus fruit,grapes,root vegetables,whole milk,butter,whipped/sour cream,...,,,,,,,,,,
9831,cooking chocolate,,,,,,,,,,...,,,,,,,,,,
9832,chicken,citrus fruit,other vegetables,butter,yogurt,frozen dessert,domestic eggs,rolls/buns,rum,cling film/bags,...,,,,,,,,,,
9833,semi-finished bread,bottled water,soda,bottled beer,,,,,,,...,,,,,,,,,,
9834,chicken,tropical fruit,other vegetables,vinegar,shopping bags,,,,,,...,,,,,,,,,,

In [61]:
groceries
transactions = []
for i in range(0, 9835):
    transactions.append([str(groceries.values[i,u]) for u in range(1, 31)])

In [62]:
groceries_series  = pd.DataFrame(pd.Series(transactions))
groceries_series 
groceries_series.columns = ["business"]
groceries_series

                                               business
0     [semi-finished bread, margarine, ready soups, ...
1     [yogurt, coffee, , , , , , , , , , , , , , , ,...
2     [, , , , , , , , , , , , , , , , , , , , , , ,...
3     [yogurt, cream cheese, meat spreads, , , , , ,...
4     [whole milk, condensed milk, long life bakery ...
...                                                 ...
9830  [chicken, beef, hamburger meat, citrus fruit, ...
9831  [, , , , , , , , , , , , , , , , , , , , , , ,...
9832  [citrus fruit, other vegetables, butter, yogur...
9833  [bottled water, soda, bottled beer, , , , , , ...
9834  [tropical fruit, other vegetables, vinegar, sh...

[9835 rows x 1 columns]

In [63]:
X = groceries_series['business'].str.join(sep=',').str.get_dummies(sep=',')
X

,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,baby food,bags,baking powder,bathroom cleaner,beef,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9830,0,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,1,0,0
9831,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9832,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9833,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9834,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [64]:
from mlxtend.frequent_patterns import apriori,association_rules
frequent_itemsets = apriori(X, min_support=0.005, max_len=3,use_colnames = True)
frequent_itemsets

      support                                          itemsets
0    0.007422                           (Instant food products)
1    0.026335                                        (UHT-milk)
2    0.016675                                   (baking powder)
3    0.021556                                            (beef)
4    0.020946                                         (berries)
..        ...                                               ...
630  0.005389                 (shopping bags, soda, whole milk)
631  0.008948                        (soda, whole milk, yogurt)
632  0.005999  (whipped/sour cream, tropical fruit, whole milk)
633  0.010473              (whole milk, tropical fruit, yogurt)
634  0.009964          (whipped/sour cream, whole milk, yogurt)

[635 rows x 2 columns]

In [65]:
frequent_itemsets.sort_values('support',ascending = False,inplace=True)
frequent_itemsets.sort_values

<bound method DataFrame.sort_values of       support                                           itemsets
110  0.182613                                       (whole milk)
83   0.149771                                       (rolls/buns)
68   0.146721                                 (other vegetables)
93   0.144484                                             (soda)
111  0.116624                                           (yogurt)
..        ...                                                ...
452  0.005084                          (rolls/buns, soft cheese)
461  0.005084                   (root vegetables, sliced cheese)
563  0.005084  (root vegetables, fruit/vegetable juice, whole...
560  0.005084  (other vegetables, tropical fruit, fruit/veget...
283  0.005084                 (frozen vegetables, domestic eggs)

[635 rows x 2 columns]>

In [66]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(other vegetables),(whole milk),0.146721,0.182613,0.060702,0.413721,2.265562,0.033908,1.394195
1,(whole milk),(other vegetables),0.182613,0.146721,0.060702,0.332405,2.265562,0.033908,1.278140
2,(whole milk),(yogurt),0.182613,0.116624,0.047077,0.257795,2.210475,0.025780,1.190205
3,(yogurt),(whole milk),0.116624,0.182613,0.047077,0.403662,2.210475,0.025780,1.370677
4,(rolls/buns),(whole milk),0.149771,0.182613,0.045755,0.305499,1.672930,0.018405,1.176941
...,...,...,...,...,...,...,...,...,...
1539,(other vegetables),"(fruit/vegetable juice, tropical fruit)",0.146721,0.009151,0.005084,0.034650,3.786479,0.003741,1.026414
1540,(tropical fruit),"(other vegetables, fruit/vegetable juice)",0.055923,0.017895,0.005084,0.090909,5.080062,0.004083,1.080315
1541,(fruit/vegetable juice),"(other vegetables, tropical fruit)",0.068327,0.024403,0.005084,0.074405,3.049045,0.003417,1.054022
1542,(frozen vegetables),(domestic eggs),0.044535,0.058160,0.005084,0.114155,1.962792,0.002494,1.063212
1543,(domestic eggs),(frozen vegetables),0.058160,0.044535,0.005084,0.087413,1.962792,0.002494,1.046985

In [67]:
rules.sort_values('lift',ascending = False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
618,(tropical fruit),"(other vegetables, pip fruit)",0.055923,0.020437,0.007829,0.140000,6.850249,0.006686,1.139026
615,"(other vegetables, pip fruit)",(tropical fruit),0.020437,0.055923,0.007829,0.383085,6.850249,0.006686,1.530319
619,(pip fruit),"(other vegetables, tropical fruit)",0.047483,0.024403,0.007829,0.164882,6.756736,0.006670,1.168215
614,"(other vegetables, tropical fruit)",(pip fruit),0.024403,0.047483,0.007829,0.320833,6.756736,0.006670,1.402478
865,(root vegetables),"(other vegetables, citrus fruit)",0.079715,0.015353,0.006812,0.085459,5.566166,0.005589,1.076657
...,...,...,...,...,...,...,...,...,...
835,(soda),(curd),0.144484,0.044026,0.006812,0.047150,1.070945,0.000451,1.003278
1094,(white bread),(rolls/buns),0.039248,0.149771,0.005999,0.152850,1.020555,0.000121,1.003634
1095,(rolls/buns),(white bread),0.149771,0.039248,0.005999,0.040054,1.020555,0.000121,1.000840
870,(other vegetables),(canned beer),0.146721,0.046162,0.006812,0.046431,1.005836,0.000040,1.000282
871,(canned beer),(other vegetables),0.046162,0.146721,0.006812,0.147577,1.005836,0.000040,1.001004